html{
    background-color: aqua;
    
}

h1{width: 50%;
    background-image: url(../gambar/b2.jpg);
    background-color: blueviolet;
    border-radius: 90px;
    border-style: groove;
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
    margin: auto;
    margin-top: 15px;
    text-transform: uppercase;
    
}   

h2{
    width: 50%;
    background-image: url(../gambar/c3.jpg);
    padding: 30px;
    color: maroon;
    border-style: dotted;
    margin: auto;
    padding-top: 45px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;

}

.geblek {position: relative;
margin: auto;
text-align: center;
}

.geblek input[id="s1"]{padding: 20px;
    color: aqua;
    background-color: rgb(43, 226, 98);
0}

.geblek input[id="s2"]{padding: 20px;
    color: aqua;
    background-color: rgb(226, 43, 186);
}

.yes{background-color: red;
    color: black;
    padding: 15px 45px;
    text-align: center;
    font-size: 15px;
    width: 70%;
    margin: auto;



}

.button{
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:red;
	color:#fff;
}

.fix-me{
	position:fixed;
	top:400px;
}